# Ignore virtual environment files
venv/
.env/

# Ignore database files
*.sqlite3
*.db

# Ignore Python compiled files
*.pyc
__pycache__/


# Ignore static and media files (if not managed by Git)
staticfiles/
media/

# Ignore environment variables
.env
.env.local
