{% for comment in comments %}
    <div class="comment" id="comment-{{ comment.id }}">
        <div class="comment-header">
            <strong>{{ comment.user.username }}</strong>
            <small>{{ comment.date_created_comment|timesince }} ago</small>
        </div>
        <p>{{ comment.content_comment }}</p>
    </div>
{% endfor %}
<form
    hx-post="{% url 'blogs:handle_comment' blog.id %}"
    hx-target="#comments-{{ blog.id }}"
    hx-swap="afterbegin"
    hx-on::after-request="if (event.detail.successful) this.reset()"
    class="comment-form"
>
    {% csrf_token %}
    {{ comment_form.content_comment }}
    <button type="submit" class="btn-post">Post Comment</button>
</form>
