{% for comment in comments %}
<div class="comment-card" id="comment-{{ comment.id }}">
    <header class="comment-header">
        <span class="comment-author">{{ comment.user.username }}</span>
        <time class="comment-timestamp">{{ comment.date_created_comment|timesince }} ago</time>
    </header>
    <div class="comment-body">
        <p class="comment-content">{{ comment.content_comment }}</p>
    </div>
</div>
{% endfor %}

<form class="comment-form"
      hx-post="{% url 'blogs:handle_comment' blog.id %}"
      hx-target="#comments-{{ blog.id }}"
      hx-swap="afterbegin"
      hx-on::after-request="if (event.detail.successful) this.reset()">
    {% csrf_token %}
    <div class="form-group">
        {{ comment_form.content_comment }}
    </div>
    <button type="submit" class="btn btn-post-comment">Post Comment</button>
</form>
