{% extends 'base.html' %}
{% load static %}

{% block content %}


    <h1>Welcome to Home Page!</h1>
    <div>
	    <a href="{% url 'users:profile' %}">
                 <button>Go to Profile</button>
            </a>

    </div>


<div class="blogs-container">
    {% for blog in blogs %}
    <div class="blog-post">
	    <a href="{% url 'blogs:detail_blog_view' blog.id %}">  <button> <h2>{{ blog.title }}</h2></button> </a>
        <p>{{ blog.content }}</p>
        <p>Posted by {{ blog.author.username }} on {{ blog.date_created }}</p>

        <!-- Comments Section -->
        <button class="toggle-comments"
                data-toggle-comments
                data-target="#comments-{{ blog.id }}"
                hx-get="{% url 'blogs:load_comments' blog.id %}"
                hx-trigger="click once"
                hx-target="#comments-{{ blog.id }}">
            Show Comments
        </button>
        <div id="comments-{{ blog.id }}" class="comments-container" style="display: none;"></div>

        <!-- Likes Section -->
        <div hx-get="{% url 'blogs:toggle_like' blog.id %}"
             hx-trigger="load">
            Loading likes...
        </div>
    </div>
    {% endfor %}
</div>

<!-- Include HTMX and scripts -->
<script src="https://unpkg.com/htmx.org@1.8.5"></script>
<script src="{% static 'blogs/js/likes2.js' %}"></script>
<script src="{% static 'blogs/js/comments.js' %}"></script>
{% endblock %}
