{% extends 'base.html' %}

{% load static %}
{% block extra_js%}
 <script src="{% static 'blogs/js/load_posts.js' %}"></script>
{% endblock %}
{% block content %}

    <h1>Welcome to Home Page!</h1>
    <div>
	    <a href="{% url 'users:profile' %}">
                 <button>Go to Profile</button>
            </a>

    </div>
    <div id="posts">
        <!-- Posts will be loaded here dynamically -->
    </div>
    <script>
        const LOAD_BLOGS_URL = "{% url 'load_blogs' %}";  // Use Django's url template tag
    </script>   
    <!-- Link your external JavaScript file -->
    <script src="{% static 'blogs/js/load_posts.js' %}"></script>




{% endblock %}
