{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/welcome.css' %}">
{% endblock %}

{% block content %}
<div class="welcome-container">
    <h2 class="welcome-heading">Welcome to BlogsBook</h2>
</div>

<div class="auth-actions">
    <a href="{% url 'users:signup' %}" class="auth-link">
        <button class="btn btn-signup">Sign Up</button>
    </a>
    <br>
    <p class="login-prompt">
        Already have an account? 
        <a href="{% url 'users:login' %}" class="login-link">Login</a>
    </p>
</div>
{% endblock %}
