{% load custom_filters %}

<div class="editable-field-container">
    <span class="editable-field field--{{ field_name|slugify }}"
          hx-get="{% url 'users:edit_field' field_name %}" 
          hx-trigger="click"
          hx-target="this"
          hx-swap="outerHTML"
          role="button"
          tabindex="0">
        {% if field_name == 'date_of_birth' and user.date_of_birth %}
            <time datetime="{{ user.date_of_birth|date:'Y-m-d' }}">
                {{ user.date_of_birth|date:"M. j, Y" }}
            </time>
        {% else %}
            {{ user|get_attr:field_name|default:"Click to add" }}
        {% endif %}
    </span>
</div>
