{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/column.css' %}">
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'blogs/css/posts.css' %}">
<section class="blog-column">
    <div class="blog-controls">
        <button class="btn btn-create" 
                hx-get="{% url 'blogs:create_blog_view'%}" 
                hx-target="#blog_create">
            Create New Blog
        </button>
    </div>
    <br>
    <div id="blog_create" class="blog-create-container"></div>

    <div class="blog-posts">
        {% for post in posts %}
        <article class="post-card" id="post-{{ post.id }}">
            <div class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>
                <p class="post-meta">
                    Posted by <span class="post-author">{{ post.author.username }}</span>
                    on <time class="post-date">{{ post.date_created }}</time>
                </p>
            </div>

            <div class="post-content">
                <p>{{ post.content }}</p>
            </div>

            <div class="post-actions">
                <form class="form-edit" method="post">
                    {% csrf_token %}
                    <button class="btn btn-edit" 
                            hx-get="{% url 'blogs:edit_blog_view' blog_id=post.id %}" 
                            hx-target="#post-{{ post.id }}">
                        Edit
                    </button>
                </form>

                <form class="form-delete" method="post" 
                      action="{% url 'blogs:delete_blog_view' blog_id=post.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-delete">Delete</button>
                </form>
            </div>

            <div class="post-interactions">
                <div class="like-container" 
                     hx-get="{% url 'blogs:toggle_like' post.id %}"
                     hx-trigger="load">
                    Loading likes...
                </div>

                
                    <button class="btn btn-comment-toggle"
			    data-toggle-comments
                            data-target="#comments-{{ post.id }}"
                            hx-get="{% url 'blogs:load_comments' post.id %}"
                            hx-trigger="click once"
                            hx-target="#comments-{{ post.id }}">
                        Show Comments ({{ post.comments.count }})
                    </button>
                    <div id="comments-{{ post.id }}" class="comments-wrapper"></div>
                
            </div>
        </article>
        {% endfor %}
    </div>
</section>

<script src="https://unpkg.com/htmx.org@1.8.5"></script>
<script src="{% static 'blogs/js/likes2.js' %}"></script>
<script src="{% static 'blogs/js/comments.js' %}"></script>
{% endblock %}
