{% extends 'base.html' %}

{% load static %}


{% block extra_css %}
   
    <link rel="stylesheet" href="{% static 'users/profile.css' %}">

{% endblock %}



{% block content %}

<div class="profile-container">
    <!-- Left Column -->
    <div class="column" id="left-column" hx-get="{% url 'users:left_column' %}" hx-trigger="load" hx-swap="innerHTML">
        <!-- Content will be loaded here dynamically -->
    </div>

    <!-- Middle Column -->
    <div class="column" id="middle-column" hx-get="{% url 'users:mid_column' %}" hx-trigger="load" hx-swap="innerHTML">
        <!-- Content will be loaded here dynamically -->
    </div>

    <!-- Right Column -->
    <div class="column" id="right-column" hx-get="{% url 'users:right_column' %}" hx-trigger="load" hx-swap="innerHTML">
        <!-- Content will be loaded here dynamically -->
    </div>
</div>
<!-- Include HTMX and scripts -->
<script src="https://unpkg.com/htmx.org@1.8.5"></script>
<script src="{% static 'blogs/js/likes2.js' %}"></script>
<script src="{% static 'blogs/js/comments.js' %}"></script>


{% endblock %}
