<article class="comment-card" id="comment-{{ comment.id }}">
    <header class="comment-header">
        <div class="comment-meta">
            <strong class="comment-author">{{ comment.user.username }}</strong>
            <time class="comment-timestamp" datetime="{{ comment.date_created_comment|date:'c' }}">
                {{ comment.date_created_comment|timesince }} ago
            </time>
        </div>
    </header>
    <div class="comment-body">
        <p class="comment-content">{{ comment.content_comment }}</p>
    </div>
</article>
